.productsList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.productCard {
  border: solid 1px #eee;
  box-shadow: 0 5px 5px rgb(0, 0, 0, 0.1);
  width: 30%;
  padding: 10px 15px;
  border-radius: 6px;
}

.productCard img {
  width: 100%;
}

.productCard button {
  background-color: #4fa81b;
  border-radius: 5px;
  padding: 15px;
  font-weight: bolder;
  color: #fff;
  border: none;
  cursor: pointer;
}
